body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FDFCEF;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
}

p {
    margin: 0;
    line-height: 1.37em;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

section{
    margin-top: 120px;
}

.header{
    margin-top: 60px;
}

.logo{
    display: block;
    margin-bottom: 82px;
}

.offer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer{
    width: 465px;
}
h1{
    font-size: 50px;
}

.introtext{
    width: 423px;
    margin: 30px 0;
}

.btn{
    background: #FF6861;
    border-radius: 100px;
    padding: 22px 70px;
    text-decoration: none;
    font-weight: 700;
    display: block;
    width: 227px;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #FF918C;
}

h2{
    font-size: 40px;
    text-align: center;
}
.points{
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    margin: 70px auto 0 auto;
}

.onepoint{
    display: flex;
    align-items: center;
}

.point-wrap{
    margin-left: 34px;
}

.point-title{
    font-size: 30px;
    margin-bottom: 11px;
}

.save-wrap{
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 76px 125px 75px 122px;
}

.save-block{
    width: 475px;
    margin-right: 101px;
}

.save-text{
    width: 371px;
    margin: 24px 0;
}

.save-title{
    text-align: left;
}

.rights{
    margin: 120px 0;
    text-align: center;
}
